{% extends 'base.html' %}
{% block content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

<style>
.dropdown-goals {
  display: none;
  position: ;
  top: 12vh;
  right:0;
  z-index: 1001;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  margin-top: 5vh;
}

.dropdown-goals a {
  color: black;
  text-decoration: none;
  display: block;
  padding: 0 5px 0 5px;
}
</style>

<div style="height: 30vh; border-radius: 5vh; border: black solid 2px; margin: calc(12vh + 3vh) 20vw 3vh 20vw;">
    {% autoescape false %}
    {{goal_or_add}}
    {% endautoescape %}
</div>
<div style="height: 100vh;"></div>
<script>
var xValues = [{{time_data}}];
var yValues = [{{unit_data}}];

new Chart("Chart", {
  type: "line",
  data: {
    labels: xValues,
    datasets: [{
      fill: true,
      backgroundColor: "rgba(0,0,255,1.0)", //dots
      borderColor: "rgba(0,0,255,0.1)", //lines
      data: yValues,
      spanGaps: true
    }]
  },
  options: {
    maintainAspectRatio: false,
    legend: {display: false},
    scales: {
        yAxes: [{
            ticks: {stepSize: 2, min: 4, max:6},
            stacked: true,
        }],
        yAxes: [{
            scaleLabel: {
                display: true,
                labelString: '{{units}}'
            }
        }],
        xAxes: [{
            scaleLabel: {
                display: true,
                labelString: '{{time_unit}}'
            }
        }]
    }
    
  }
});

function goals_settings(){
  document.getElementById("dropdown-goals").style.display="block";
}

document.addEventListener("click", function(event){
    if (event.target.id != "button"){
        goals_settings_close();
    }
});

document.addEventListener("click", function(event){
    if (event.target.id != "add"){
        add_close();
    }
    else{
        add();
    }
});

document.addEventListener("click", function(event){
    if (event.target.id != "edit"){
        edit_close();
    }
    else{
        edit();
    }
});


function goals_settings_close(){
  document.getElementById("dropdown-goals").style.display="none";
}

function add(){
    document.getElementById("add_menu").style.display="block";
}
function edit(){
    document.getElementById("edit_menu").style.display="block";
}
function add_close(){
    document.getElementById("add_menu").style.display="none";
}
function edit_close(){
    document.getElementById("edit_menu").style.display="none";
}

function remove(){
    var xhr = new XMLHttpRequest();
    xhr.open("POST", '/edit_goals/112664632003566772529', true);
    xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
    xhr.onreadystatechange = function() {
        if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
        }
    }
    xhr.send("remove=True");
}

</script>

{% endblock %}
