{% extends 'base.html' %}
{% block content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

<style>
.dropdown-goals {
  display: none;
  position: ;
  top: 12vh;
  right:0;
  z-index: 1001;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  margin-top: 5vh;
}

.dropdown-goals a {
  color: black;
  text-decoration: none;
  display: block;
  padding: 0 5px 0 5px;
}
</style>

<div style="height: 30vh; border-radius: 5vh; border: black solid 2px; margin: calc(12vh + 3vh) 20vw 3vh 20vw;">
    {% autoescape false %}
    {{goal_or_add}}
    {% endautoescape %}
</div>
<div id="edit_menu" style="position: absolute;left: 0;right: 0;top: 0;bottom: 0;margin: auto;border: solid black 2px;height:20vh;width: 50vh;background-color: #ffffff; 
box-shadow: 0 0 0 100vmax rgb(0 0 0 / 60%);display: none;">
    <a class="material-symbols-outlined" href="javascript:;" style="position: absolute; right: 0; top: 0; color: #000000;height:24px;">close</a>
    <h2>edit</h2>
</div>


<div id="add_menu" style="position: absolute;left: 0;right: 0;top: 0;bottom: 0;margin: auto;border: solid black 2px;height:20vh;width: 50vh;background-color: #ffffff; 
box-shadow: 0 0 0 100vmax rgb(0 0 0 / 60%);display: none;">
    <a class="material-symbols-outlined" href="javascript:;" style="position: absolute; right: 0; top: 0; color: #000000;height:24px;">close</a>
    <h2>add</h2>
</div>

<div style="height: 100vh;"></div>
<script>
var xValues = [{{time_data}}];
var yValues = [{{unit_data}}];
let add_status = "closed";
let edit_status = "closed";

new Chart("Chart", {
  type: "line",
  data: {
    labels: xValues,
    datasets: [{
      fill: true,
      backgroundColor: "rgba(0,0,255,1.0)", //dots
      borderColor: "rgba(0,0,255,0.1)", //lines
      data: yValues,
      spanGaps: true
    }]
  },
  options: {
    maintainAspectRatio: false,
    legend: {display: false},
    scales: {
        yAxes: [{
            ticks: {stepSize: 2, min: 4, max:6},
            stacked: true,
        }],
        yAxes: [{
            scaleLabel: {
                display: true,
                labelString: '{{units}}'
            }
        }],
        xAxes: [{
            scaleLabel: {
                display: true,
                labelString: '{{time_unit}}'
            }
        }]
    }
    
  }
});

function goals_settings(){
  document.getElementById("dropdown-goals").style.display="block";
}

document.addEventListener("click", function(event){
    if (event.target.id != "button"){
        goals_settings_close();
    }
});

document.addEventListener("click", function(event){
    if (event.target.parentElement.parentElement.id != "dropdown-goals" && event.target.id != "add_menu" && event.target.id != "edit_menu" && event.target.id != "remove"){
        add_close();
    }
    if (event.target.id == "add"){
        add()
    }
});

document.addEventListener("click", function(event){
    if (event.target.parentElement.parentElement.id != "dropdown-goals" && event.target.id != "edit_menu" && event.target.id != "add_menu" && event.target.id != "remove"){
        edit_close();
    }
    if (event.target.id == "edit"){
        edit()
    }
});


function goals_settings_close(){
  document.getElementById("dropdown-goals").style.display="none";
}

function add(){
    add_status = "open";
    document.getElementById("add_menu").style.display="block";
}
function edit(){
    edit_status = "open";
    document.getElementById("edit_menu").style.display="block";
    document.body.style.overflow = "hidden";
}
function add_close(){
    document.getElementById("add_menu").style.display="none";
    if (add_status == "open"){
        document.body.style.overflow = "auto";
    }
    add_status = "closed"
}
function edit_close(){
    document.getElementById("edit_menu").style.display="none";
    if (edit_status == "open"){
        document.body.style.overflow = "auto";
    }
    edit_status = "closed"
}

function remove(){
    var xhr = new XMLHttpRequest();
    xhr.open("POST", '/edit_goals/112664632003566772529', true);
    xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
    xhr.onreadystatechange = function() {
        if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
        }
    }
    xhr.send("remove=True");
    window.location.reload();
}


</script>

{% endblock %}
